<%= button_to({ action: 'sync' }, method: :post, data: { turbo_confirm: t('.sync.confirm') }, class: 'button is-link') do %>
  <%= svg_tag 'plus' %>
  <span class="ml-1"><%= t('.sync') %></span>
<% end %>
