<div class="grid">
  <%= link_to({ controller: 'print/admin/printers' }, data: { turbo_frame: 'body', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('print.admin.printers.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'print/admin/jia_bo_printers' }, data: { turbo_frame: 'body', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('print.admin.jia_bo_printers.index.title') %></span>
  <% end %>
</div>
