<td><%= model.organ.name %></td>
<td>
  <%= form_with theme: 'switch', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :default, data: { action: 'input#submit' }, id: nil %>
  <% end %>
</td>
<td><%= model.aim_i18n %></td>

