<div class="media">
  <div class="media-content">
    <%= yield %>
  </div>
  <div class="media-right">
    <div
      data-controller="scan"
      data-action="click->scan#report"
      data-scan-params-value="<%= { jia_bo_app_id: model.id }.to_json %>"
      class="button is-small is-rounded is-primary"
      data-report-url="<%= url_for(action: 'scan') %>"
    >
      <%= svg_tag 'plus' %>
      <span class="ml-1">添加打印机</span>
    </div>
  </div>
</div>
