<div class="media">
  <div class="media-content">
    <%= yield %>
  </div>
  <div class="media-right">
    <div
      data-controller="scan"
      data-action="click->scan#report"
      class="button is-small is-rounded is-primary"
      data-report-url="<%= url_for(action: 'scan', app_id: model.id) %>"
    >
      <%= svg_tag 'plus' %>
      <span class="ml-1">添加打印机</span>
    </div>
  </div>
</div>
